@media only screen and (max-width: 1024px) {
  .section-01 .col-md-6 img {
    width: 55vmin;
    object-position: 50% 0;
  }
  .section-02 .col-md-6 img {
    width: 55vmin;
    object-position: 50% 0;
  }
  .section-05 .col-md-6 img {
    width: 55vmin;
    object-position: 50% 0;
  }
}
@media only screen and (max-width: 768px) {
  header {
    height: fit-content;
  }
  section {
    height: 100vh;
  }
  .section-01 {
    height: 100%;
  }
  .section-01 .col-md-6 img {
    width: 40vmin;
    object-position: 50% 0;
  }
  .section-02 .col-md-6 img {
    width: 55vmin;
    object-position: 50% 0;
  }
  .section-05 .col-md-6 img {
    width: 55vmin;
    object-position: 50% 0;
  }
}
